.feed-form {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    width: 303px;
    font-size: 14px;
    color: rgb(75, 75, 75);
    font-weight: 400;
    input {
        margin-bottom: 13px;
        &:nth-child(3) {
            margin-bottom: 17px;
        }
        height: 54px;
        border-radius: 5px;
        background: #ffffff;
        border: none;
        padding: 0 21px;
        }
    &_mt25px {
        margin-top: 25px;
    }
}

@media (max-width: 575px) {
    .feed-form {
        width: 93%;
    }
}